@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Raleway','roboto', sans-serif;
}


.mobile_menu{
   position: absolute;
    top: 100px;
    right: 0%;
    width: 100%;
    max-width: 350px;
    min-height: 100dvh;
    background-color: #333333;
    height: 100%;
    padding: 2.5rem 2.5rem;
    transition: all 0.9s ease;
  }

.mobile_menu.active{
   right: 0%;
}

.banner_section{
  position: relative;
}

.banner_section::before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  max-width: 600px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  background-image: url('/before_image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_section::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  max-width: 600px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  background-image: url('/after_image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

/* 
technology */

 .technology_container {
    background-image: url('/technology_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}